<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- 此处为页面标题 -->
	<title>护理管理</title>
	
	<!-- 引入图标文件 -->
    <link rel="shortcut icon" href="/PubgoWeb/favicon.ico" type="image/x-icon" />
    
    <!-- 引入vant样式文件 -->
	<link
	  rel="stylesheet"
	  href="/PubgoWeb/assets/vant/index.css"
	/>
    
	<link href="/PubgoWeb/static/css/nice-select.css" rel="stylesheet">
	<link href="/PubgoWeb/static/css/owl.carousel.css" rel="stylesheet">
	<!-- 自定义css，预加载必须 -->
    <link href="/PubgoWeb/static/css/style.css" rel="stylesheet">
    
    
    <!-- 
    	.header-profile   设定logo图标大小
    	.vanTabs  设定标签页宽度
    	.vanTab   设定背景颜色
    	.mt-4  .mb-4 设定筛选上下边框宽度
    	footer  查询，重置按钮绑定下边框
    	.van-tabs--line .van-tabs__wrap   设置标签页头行高
    	.van-picker__toolbar   設置時間選擇器的頂部欄高度
     -->
	<style type="text/css">
		.header-profile img{
			width: 2.5rem;
			height: 2.5rem;
		}
		.vanTabs{
			width : 100%;
		}
		.vanTab{
			background-color: rgb(249, 249, 249);
		}
		.mt-4 {
		  margin-top: 0rem !important;
		  
		}
		.mb-4 {
		  margin-bottom: 0rem !important;
		}
		.van-card{
			background: rgb(255, 255, 255);
			padding : 0px;
		}
		footer{
			position:fixed;
			bottom:0;
			z-index:999;
			width: 94%;
			margin: 0% 2% 4% 4%;
		}
		.conditionForm{
			margin-top: 25px;
		}
		.van-tabs--line .van-tabs__wrap {
		  height: 50px;
		}
		.van-picker__toolbar{
			height: 0px;
		}
	</style>
	
</head>
<body>

    <!--*******************
     	   预加载程序启动
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
       	 预紧器端
    ********************-->

    <!--**********************************
       	主包装器开始
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
           	导航标头开始
        ***********************************-->
        <div class="nav-header">
            <a href="/PubgoWeb/index.html" class="brand-logo">
				
				<img src="/PubgoWeb/static/image/logo_index.jpg" alt="首页"  width="48" height="20"/>
				
				<svg class="brand-title" xmlns="http://www.w3.org/2000/svg" width="134.01" height="48.365" viewbox="0 0 134.01 48.365">
				  <g id="Group_38" data-name="Group 38" transform="translate(-133.99 -40.635)">
					<text id="Job_Admin_Dashboard" data-name="Job Admin Dashboard" transform="translate(134 85)" fill="#787878" font-size="12" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">香港步步高国际集团</tspan></text>
					<text id="Job_Admin_Dashboard" data-name="Job Admin Dashboard" transform="translate(134 63)" fill="#000000" font-size="17" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">PUBGO步步高鞋</tspan></text>
					
				  </g>
				</svg>
            </a>
            <!-- 侧边栏显示组件 -->
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
         	 导航标头结束
        ***********************************-->
		
		
		
		<!--**********************************
           	页头开始
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                    	<!-- 设置页面名称 -->
                        <div class="header-left">
							<div class="dashboard_bar">
                               	工作台
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
							<li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                   	 <img alt="员工管理" src="/PubgoWeb/static/image/员工.svg" >
                                </a>
                                <!--  -->
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="/PubgoWeb/index.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user2" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ms-2">个人中心 </span>
                                    </a>
                                    <a href="http://http://www.pbgobbg.com:8282/pda/" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox1" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ms-2">OA邮箱 </span>
                                    </a>
                                    <a href="/PubgoWeb/login.html" class="dropdown-item ai-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ms-2">退出登录 </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
				</nav>
			</div>
		</div>
        <!--**********************************
           	页头结束
        ***********************************-->

        <!--**********************************
           	侧边栏开始
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
				<div class="dropdown header-profile2 ">
					<a class="nav-link " href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
						<div class="header-info2 d-flex align-items-center">
							<img src="/PubgoWeb//static/image/people.svg" width="20"  alt="">
							<div class="d-flex align-items-center sidebar-info">
								<div>
									<span class="font-w400 d-block">ID : {{id}}</span>
									<small class="text-end font-w400">NAME : {{name}}</small>
								</div>	
							</div>
						</div>
					</a>
				</div>
				<ul class="metismenu" id="menu">
					<template v-for="(x, i) in categoryList">
	                    <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
								<i :class="x.image"></i>
								<span class="nav-text">{{x.name}}</span>
							</a>
	                        <ul aria-expanded="false">
	                        	<template v-for="(y, j) in x.categorys">
									<li><a :href="y.path">{{y.name}}</a></li>
								</template>	
							</ul>
	                    </li>
                    </template>	
                </ul>
				<div class="plus-box">
					<p class="fs-14 font-w600 mb-2">Pubgo mobile ERP management system<br></p>
				</div>
				<div class="copyright">
					<p><strong>PUBGO Job Admin</strong> © 2021 All Rights Reserved</p>
					<p class="fs-12"> Made with<span class="heart"></span> by pubgo</p>
				</div>
			</div>
        </div>
        <!--**********************************
           	侧边栏结束
        ***********************************-->
		
		<!--**********************************
            	内容正文开始
        ***********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<div class="d-flex align-items-center flex-wrap search-job bg-white px-0 mb-4">
					<!-- 搜索栏 -->
					<div class="col-xl-8 col-xxl-6 col-lg-6 col-12 d-md-flex job-title-search pe-0">
						<van-search v-model="value" 
						placeholder="请输入客户手机号 /  姓名 /  订单编号 " 
						shape="round"
						show-action
						@search="onSearch">
							<!-- 筛选组件，启动侧边栏 -->
							<template #action>
								<div @click="popupClick"><van-icon name="filter-o" size="25"/></div>
							</template>
						</van-search>
					</div>
					<!-- 标签页 -->
					<div class="vanTabs">
						<!-- 标签 1 -->
						<van-tabs v-model:active="active" sticky>
						  <van-tab class="vanTab" title="全部">
						  	<div class="row">			  	
								<div class="col-xl-9">
								<template v-if="true">	
									<div class="mt-4 d-flex justify-content-between align-items-center flex-wrap">
										<div class="d-flex align-items-center mb-4">
											<div  @click="onScreen">
												<select id="screen" class="default-select dashboard-select border-0 bg-transparent"  >
												  <option v-for="(item,index) in options" :value=item.value>{{item.text}}</option>
												</select>
											</div>
										</div>
									</div>
								</template>
									<!-- van-list实现瀑布式滚动 -->
									<van-list
										v-model:loading="loading"
										loading-text="正在拼命加载"
										v-model:error = "error"
										error-text="请求失败，点击重新加载"
										:finished="finished"
										finished-text="没有更多了"
										@load="loadMore"
										v-if="list.length!=0"
									>
										<!-- 卡片 -->
										<div class="tab-content"  v-for="(item, index) in list">
											<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
												<div class="row">
													<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
														<div class="card">
															<div class="jobs2 card-body">
																<div>
																	下单时间：{{item.createTimeToString}}
																	<span style="float:right;font-weight:bold;">{{item.stepName}}</span>
																</div>
																<div>订单编号：{{item.nursingID}}</div>
																<van-card
																  :num="item.quantity"
																  :thumb="item.imagePath"
																  @click-thumb = "onShow(index)"
																>
																	<template #title>
														                <div style="font-size: 12px;font-weight: bold">用户：{{item.tel}} ({{item.userName}})</div>
														                <div style="font-size: 12px;margin-top:5px;">店铺：{{item.customerNa}} ({{item.operator}})</div>
														                <span style="line-height: 20px;margin-right: 10px">评分：</span>
														                <van-rate v-model="item.score" color="#FF0000" void-icon="star" readonly
														                          allow-half></van-rate>
														            </template>
														            <template #tags>
																	    <div style="margin-top:5px;" v-if="item.userRemake!=''">
																	    	<van-tag plain type="danger" style="margin-top:5px;">
																	    		客户备注
																	    	</van-tag>   
																	    	{{item.userRemake}}
																	    </div>
																	    <div style="margin-top:5px;" v-if="item.employeeRemake!=''">
																	    	<van-tag plain type="warning" >
																	    		员工备注
																	    	</van-tag>   
																	    	{{item.employeeRemake}}
																	    </div>
																	</template>
																	<template #tag>
																	    <van-tag mark  type="danger" v-if="item.payment == 'nursingCard'">
																	    		护理卡
																	    </van-tag> 
																	    <van-tag mark  type="primary" v-if="item.payment == 'integral'">
																	    		积分
																	    </van-tag> 
																	    <van-tag mark  type="success" v-if="item.payment == 'user'">
																	    		免费体验
																	    </van-tag> 
																	</template>
																	<template #footer>
																	    <van-button type="default" size="normal" @click="deleteNursing(item.nursingID)">删除</van-button>
																	</template>
																</van-card>
															</div>
														</div>
													</div>
												</div>	
											</div>
										</div>
									</van-list>
									<!-- 卡片 -->
									<div class="tab-content" v-if="list.length==0">
										<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
											<div class="row">
												<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
													<van-empty image="search" description="无护理信息"></van-empty>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						  </van-tab>
						  <van-tab title="待护理">
						  		<!-- 卡片 -->
								<div class="tab-content">
									<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
										<div class="row">
											<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
												<van-empty description="该功能未开放" />
											</div>
										</div>	
									</div>
								</div>
						  </van-tab>
						  <van-tab title="待领取">
						  		<!-- 卡片 -->
								<div class="tab-content">
									<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
										<div class="row">
											<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
												<van-empty description="该功能未开放" />
											</div>
										</div>	
									</div>
								</div>
						  </van-tab>
						  <van-tab title="已完成">
						  		<!-- 卡片 -->
								<div class="tab-content">
									<div class="tab-pane fade show active" id="Boxed" role="tabpanel">
										<div class="row">
											<div class="col-xl-3 col-xxl-4  col-md-4 col-sm-6">
												<van-empty description="该功能未开放" />
											</div>
										</div>	
									</div>
								</div>
						  </van-tab>
						</van-tabs>
						<!-- 图片预加载 -->
						<van-image-preview v-model:show="show" :images="images" >
						</van-image-preview>
						<!--**********************************
					            	弹出窗开始
					    ***********************************-->
						<van-popup v-model:show="popup" 
							round
							closeable
							position="right" 
							:style="{ height:'100%', width:'80%'}"  >
							
							<van-form class="conditionForm" @submit="onSearch">
								<div style="margin:5px 10px; font-weight:bold; font-size:15px;">选择查询条件</div>
								<van-cell-group inset>
									<van-field
									    v-model = "value"
									    label = "搜索词"
									    placeholder = "请输入客户手机号 /  姓名 /  订单编号 " 
									    maxlength = 30
									    @focus="closeShow"
									></van-field>
									<van-field
									  v-model="startDate"
									  is-link
									  readonly
									  label="开始时间"
									  placeholder="请选择开始时间"
									  @click="startDateClick"
									></van-field>
									<van-datetime-picker
										v-if = "startDateShow"
										v-model="startDate"
										type="date"
			  							:min-date="minDate"
			  							:max-date="maxDate"
			  							visible-item-count= "3"
										@change="startDateConfirm"
										@cancel="startDateShow = false"
									>
										<template #default>
											<!-- 自定義時間選擇器頂部欄 -->
										</template>
									</van-datetime-picker>
									
									<van-field
									  v-model="endDate"
									  is-link
									  readonly
									  label="结束时间"
									  placeholder="请选择结束时间"
									  @click="endDateClick"
									></van-field>
									<van-datetime-picker
										v-if = "endDateShow"
										v-model="endDate"
										type="date"
			  							title="选择年月日"
			  							:min-date="minDate"
			  							:max-date="maxDate"
			  							visible-item-count= "3"
										@change="endDateConfirm"
										@cancel="endDateShow = false"
									>
										<template #default>
											<!-- 自定義時間選擇器頂部欄 -->
										</template>
									</van-datetime-picker>
									<van-field
									  v-model="statusNa"
									  is-link
									  readonly
									  label="用户身份"
									  placeholder="点击选择用户身份"
									  @click="statusClick"
									></van-field>
									<van-picker
										v-if = "statusShow"
										title="选择用户身份"
										:columns="statusList"
										:default-index="status"
										visible-item-count= "3"
										@change="statusConfirm"
										@cancel="statusShow= false"
									>
										<template #default>
										</template>
									</van-picker>
									<van-field
									    v-model="rgUser"
									    label="员工号"
									    placeholder="请输入员工编号"
									    @focus="closeShow"
									></van-field>
								</van-cell-group>
								<footer>
									<van-row justify="space-between">
										<van-col span="11">
										  	<van-button square block @click="onReset">重置</van-button>
										</van-col>
									  	<van-col span="11" >
									  		<van-button square block type="danger" native-type="submit" >查询</van-button>
									  	</van-col>
									</van-row>
									
							    	
							    </footer>
							</van-form>
						</van-popup>
						<!--**********************************
					            	弹出窗结束
					    ***********************************-->
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            	内容正文 结束
        ***********************************-->
		
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; 2022.深圳市步步高鞋商业有限公司 All rights reserved.</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->


	</div>
    <!--**********************************
       	主包装器结束
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/PubgoWeb/static/js/global.min.js"></script>
	<script src="/PubgoWeb/static/js/Chart.bundle.min.js"></script>
	<script src="/PubgoWeb/static/js/jquery.nice-select.min.js"></script>
	
	<script src="/PubgoWeb/static/js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="/PubgoWeb/static/js/jquery.peity.min.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="/PubgoWeb/static/js/dashboard-1.js"></script>
	
	<script src="/PubgoWeb/static/js/owl.carousel.js"></script>
	
    <script src="/PubgoWeb/static/js/custom.min.js"></script>
	<script src="/PubgoWeb/static/js/dlabnav-init.js"></script>
	<script src="/PubgoWeb/static/js/demo.js"></script>
    <script src="/PubgoWeb/static/js/styleSwitcher.js"></script>
    <script src="/PubgoWeb/static/js/customize.js"></script>
    
    <script src="/PubgoWeb/assets/vue/vue.global.js"></script>
    <script src="/PubgoWeb/assets/vue/vue.js"></script>
	<script src="/PubgoWeb/assets/vant/vant.min.js"></script>
	<script src="/PubgoWeb/assets/axios/axios.min.js"></script>
	<script src="/PubgoWeb/static/js/customize.js"></script>
	
	<script>	
		
		const app = Vue.createApp({
			data(){
				return{
					id: "",                           //账号id
					name: "",                         //账号名称
					categoryList: [],                 //目录列表  
					value: "",                        //搜索关键词
					active: 0,                        //标签页数
					options: [
						{ text:"下单时间由近及远", value:0 },
						{ text:"下单时间由远及近", value:1 },
					],                                //时间排序
					optionValue: 0,                   //排序value值
					popup: false,                     //显示弹出窗判断
	    			minDate: new Date(2021, 0, 1),    //最小可选择日期
	    		    maxDate: new Date(2070, 0, 0),    //最大可选择日期
	    			startDate: null,                  //开始日期 
	    			startDateShow: false,             //显示日期选择器判断
	    			endDate: null,                    //结束日期
	    			endDateShow: false,               //显示日期选择器判断
	    			status: 0,                        //用户身份
	    			statusNa: '',                     //用户身份名称
	    			statusList: ['全部','VIP会员','普通用户',],      //用户集合
	    			statusShow: false,                //显示用户选择器
	    			rgUser: '',                       //员工号
	    			images:[],                        //图片地址
		    		show : false,                     //图片预览控制器
	    			step: 3,                          //护理步骤
	    			current : 1,                      //分页页数
	    			list: [],                         //护理鞋数据
	    			finished : false,                 //是否已加载完成，加载完成后不再触发 load 事件
	    			loading : false,                  //是否处于加载状态，加载过程中不触发 load 事件
	    			error : false,                    //是否加载失败，加载失败后点击错误提示可以重新触发 load 事件
	    			
				}
			},
			methods:{
				//弹出窗监听器
	    		popupClick(){
	    			this.popup = true;
	    		},
	    		//开启一个选择器，其它选择器关闭
	    		startDateClick(){
	    			this.startDateShow = true;
	    			this.endDateShow = false;
	    			this.statusShow = false;
	    		},
	    		endDateClick(){
	    			this.startDateShow = false;
	    			this.endDateShow = true;
	    			this.statusShow = false;
	    		},
	    		statusClick(){
	    			this.startDateShow = false;
	    			this.endDateShow = false;
	    			this.statusShow = true;
	    		},
	    		closeShow(){
	    			this.startDateShow = false;
	    			this.endDateShow = false;
	    			this.statusShow = false;
	    		},
	    		//时间选择器确认监听器
	    		startDateConfirm (value){
	    			//格式化日期yyyy-mm-dd
	    			this.startDate = this.toDateString(value);
	    		},
	    		endDateConfirm (value){
	    			//格式化日期yyyy-mm-dd
	    			this.endDate = this.toDateString(value);
	    		},
	    		statusConfirm (value, index){
	    			this.statusNa = value;
	    			this.status = index;
	    			this.statusShow = false;
	    		},
	    		//格式化日期yyyy-mm-dd
	    		toDateString(value){
	    			let seperator = "-";
	    			//月份
	    			let month = value.getMonth() + 1;
	    			if ( month>=1 && month<=9 ){
	    				month = "0"+month;
	    			}
	    			//日
	    			let day = value.getDate();
	    			if ( day>=1 && day<=9 ){
	    				day = "0"+day;
	    			}
	    			let currentDate = value.getFullYear()+seperator+month+seperator+day
	    			return currentDate;
	    		},
	    		onReset(){
	    			this.value = "";
	    		    this.startDate = null;
	    		    this.endDate = null;
	    		    this.status = 0;
	    		    this.statusNa = "";
	    		    this.rgUser = "";
	    		},
	    		//时间排序监听事件
	    		onScreen() {
	    			//移动端无法通过event参数，只能使用原生的DOM事件获取元素
	    			const dom = document.getElementById("screen");
	    			if ( this.optionValue == dom.selectedIndex ){
	    				return;
	    			}
	    			//获取时间排序value值
	    			this.optionValue = dom.selectedIndex;
	    			//并查询护理订单
	    			this.onSearch();
	    		},
	    		//查询护理订单监听事件
				onSearch: function () {
					this.current = 1;
					this.onChange(true);
				},
				//到页面底部时,向服务器查询下一页数据
	            loadMore() {
	                //如果当前不是最后一页,则当前页号+1并向服务器发起请求查询下一页数据
	                if (this.finished==false) {
	                    this.current = this.current + 1;
	                    this.onChange();
	                }
	            },
				/*
	             * onchange 当页面状态发生变更后,Ajax重新查询库存数据
	             * isFlush 参数说明是否清空已有列表
	             */
	             onChange: function ( isFlush ){
	            	 const objApp = this;
	            	 
	            	// 展示加载
			    	vant.Toast.loading({
		    	    	duration: 0, 		
		    	        forbidClick: true,
		    	        message: "加载中..."
		    	    });
	            	
	            	//获取查询数据
	            	var data = {
	            		"value" : objApp.value,
	            		"step" : objApp.step,
	            		"startDate" : objApp.startDate,
	            		"endDate" : objApp.endDate,
	            		"status" : objApp.status,
	            		"rgUser" : objApp.rgUser,
	            		"orderBy" : objApp.optionValue,
	            		"page" : objApp.current,
	            	}
	            	
	            	//设置json请求头
		    		config = {
	    		        headers: {
	    		        	'Content-Type': 'application/json'
	    		        }
	    		    }
	            	
	            	//提交查询数据
	            	axios.post("/PubgoWeb/register/nursing/queryNursings", data, config)
	            	.then(function(response){
	            		const json = response.data;
	            		console.log(json)
	            		if( json.code == 200 ){
	            			//@return  IPage分页对象记录列表
	            			const tempList = json.data.iPage.records; 
	            			//splice清除list列表的值,并返回顶部
	            			if ( isFlush == true ){
	            				objApp.list.splice(0,objApp.list.length);
	            				document.body.scrollTop = 0;
	                            document.documentElement.scrollTop = 0;
	            			}
	            			//遍历tempList，添加下一页数据
		            		tempList.forEach(function(item){
	                            objApp.list.push(item);
	                        })
	                     	// 加载状态结束
        					objApp.loading = false;
		            		//当前页是否最后一页
	                        if( json.data.iPage.current >= json.data.iPage.pages ){
	                            objApp.finished = true;
	                        }else{
	                            objApp.finished = false;
	                        }
		            		// 清除加载
		            		vant.Toast.clear();
	            		}else{
	            			vant.Toast.fail("错误代码: "+json.code+"  错误原因: "+json.msg);
				   	        console.error("错误代码: "+json.code+"  错误原因: "+json.msg);	
				   	        //显示加载失败
				   	     	objApp.error = true;
	            		}
	            	})
	            	.catch(function(error){
	            		// 请求发送失败 
			   	        vant.Toast.fail("连接服务器失败");
			   	        console.error(error);
			   	   		//显示加载失败
			   	     	objApp.error = true;
	            	});
	             },
	           //图片预览监听器
		    	onShow(index){
		    		//清空图片地址
		    		this.images.splice(0, this.images.length);
		    		//替换地址
		    		const path = this.list[index].imagePath;
		    		this.images.push(path);
		    		this.show = true;
		    	},
		    	//删除按钮事件
		    	deleteNursing(id){
		    		const objApp = this;
		    		
		    		vant.Dialog.alert({
		    			message: '是否删除，删除后信息将无法找回',
		    			showCancelButton: true,
		    		})
		    		//确定删除
		    		.then(() => {
		    			// 展示加载
				    	vant.Toast.loading({
			    	    	duration: 0, 		
			    	        forbidClick: true,
			    	        message: "加载中..."
			    	    });
		    			axios.get("/PubgoWeb/register/nursing/delete?nursingID="+id)
		            	.then(function(response){
		            		const json = response.data;
		            		console.log(json)
		            		if( json.code == 200 ){
		            			//查询护理订单
		            			objApp.onSearch();
			            		// 加载成功
			            		vant.Toast.success('删除成功');
		            		}else{
		            			vant.Toast.fail("错误代码: "+json.code+"  错误原因: "+json.msg);
					   	        console.error("错误代码: "+json.code+"  错误原因: "+json.msg);	
		            		}
		            	})
		            	.catch(function(error){
		            		// 请求发送失败 
				   	        vant.Toast.fail("连接服务器失败");
				   	        console.error(error);
		            	});
		    		})
		    		//取消
		    		.catch(() => {
		    		    return;
		    		});
		    		
		    	}
			},
			mounted(){
				const objApp = this;
				//验证是否登录
	    		isLogin(sessionStorage.getItem("id"));
	    		objApp.id = sessionStorage.getItem("id");
	    		objApp.name = sessionStorage.getItem("name");
	    		//校验员工号登录
	    		isStaffLogin();
	    		
	    		//获取应用列表
	    		axios.get('/PubgoWeb/category/list/quest')
	    			.then(function (response){
	    				const json = response.data;
	    				if( json.code == 200 ){
	    					objApp.categoryList = json.data.categoryVos; 
	    				}else{
		            		vant.Toast.fail("错误原因: "+json.msg);
				   	        console.error("错误代码: "+json.code+"  错误原因: "+json.msg);	
		            	}
	    			})
	    			.catch(function (error) {
	    				// 请求发送失败
				   	  	vant.Toast.fail("请求发送失败");
				   	    console.error(error);
	    			});
	    		//查询护理订单
    			this.onSearch();
			}
		});
			
		app.use(vant);
		app.use(vant.Lazyload);
		app.mount('#main-wrapper');
	</script>

</body>
</html>